@model List<Vet.Models.Consult>

<h3>Consults.</h3><br />

<button class="btn btn-primary" id="newConsult" onclick="document.location.href = '@Url.Content("~/Consult/NewConsult/")'" >+ Create New Consult</button><br /><br />

<table class="table">
    <thead>
        <tr>
            <th>Owner Name</th>
            <th>Pet NAme</th>
            <th>Consult Date</th>
            <th>Pet Weight</th>
            <th>Temperature</th>
            <th>Medical Chart</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var columnData in Model)
        {
            <tr>
                <td>@columnData.OwnerName</td>
                <td>@columnData.PetName</td>
                <td>@columnData.ConsultDate</td>
                <td>@columnData.PetWeight</td>
                <td>@columnData.PetTemperature</td>
                <td>@columnData.MedicalChart</td>
                

            </tr>
        }
    </tbody>
</table>
<br />
<br />
