@model List<Vet.MyModels.Info>

<br />

@{
    var name = "";
    var headerTr = 1;
}

<h6>Prueba</h6>
<div class="container" id="result">
    @foreach (var columnData in Model)
    {
        @if (name != @columnData.Name)
        {
            <dt>
                <h3>@columnData.Name Pet </h3><h6>(@columnData.HomeAddress, @columnData.Cellphone)</h6>
            </dt>

            name = @columnData.Name;
            headerTr = 1;
        }

        <dd class="col-sm-10">
            <table class="table">
                @if (headerTr == 1)
                {
                    <tr>
                        <th>Name</th>
                        <th>Image</th>
                        <th>BirthDate</th>
                        <th>Age</th>
                        <th>Sex</th>
                        <th>Specie</th>
                        <th>Race</th>
                        <th>Color</th>
                        <th>Weigth</th>
                        <th>Comments</th>
                    </tr>
                    headerTr = 0;
                }

                <tr>
                    <td>@columnData.PetName</td>
                    <td>@columnData.Image</td>
                    <td>@columnData.BirthDate</td>
                    <td>@columnData.Age</td>
                    <td>@columnData.Sex</td>
                    <td>@columnData.Specie</td>
                    <td>@columnData.Race</td>
                    <td>@columnData.Color</td>
                    <td>@columnData.weight</td>
                    <td>@columnData.Comment</td>
                    <td>
                        <button onclick="document.location.href = '@Url.Content("~/Pet/Edit/?id="+columnData.PetId+"="+columnData.OwnerId+"="+columnData.Name)'" class="btn btn-primary" id="edit">Edit</button>
                    </td>

                </tr>

            </table>
        </dd>
    }

    <!--<dt class="col-sm-2">
        <label>hola</label>
    </dt>
    <dd class="col-sm-10">
        <label>hola</label>
    </dd>

    <dt class="col-sm-2">
        <label>hola</label>
    </dt>
    <dd class="col-sm-10">
        <table class="table">
            <tr>
                <th>Course Title</th>
                <th>Grade</th>
            </tr>

        </table>
    </dd>-->

    <br />
    <br />

</div>